.navbar {
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* position: fixed; */
  max-width: 99%;
  width: 62%;
  top: 0;
  left: 0;
  z-index: 999;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 600;
}

.menu a:hover {
  color: orange;
}

.sign-out{
  color: white;
  padding-left: 8px;
  font-weight: 600;
}
