.items-info img {
  width: 90px;
  height: 90px;
  border-radius: 6px;
}

.items-info {
  margin-bottom: 25px;
  padding: 10px 25px 10px 10px;
  height: 110px;
  width: 575px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: orange;
}

.img-cart {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item-details p {
  margin: 5px;
}

.delete {
  background-color: rgba(235, 87, 87, 0.3);
  padding: 13px;
  border: 0;
  border-radius: 50%;
}

.dlt-icon {
  color: #eb5757;
  font-size: 25px;
}
